In [2]:
import numpy as np
import pandas as pd
import os
import pickle

In [11]:
subject_list = [f for f in os.listdir('./data/head_tracking_data') if 'Subject' in f] # list of all subjects
video_list = [f for f in os.listdir('./data/video_files') if 'mp4' in f] # list of all videos

def load_obj(name ):
    with open('obj/' + name + '.pkl', 'rb') as f:
        return pickle.load(f)

videos = load_obj('data_wo_segments')
all_videos = load_obj('single_user_ngs(all)')

In [6]:
# joins together two columns
for video_id in video_list:
    for subj_id in subject_list:
        videos[video_id][subj_id]['z'] = videos[video_id][subj_id]['s_bin_zone'].apply(str) + videos[video_id][subj_id]['s_bin_band'].apply(str) + videos[video_id][subj_id]['e_bin_zone'].apply(str) + videos[video_id][subj_id]['e_bin_band'].apply(str)

In [7]:
# count unique tiles
video_stat = {}
for video_id in video_list:
    subj_ = {}
    for subj_id in subject_list:
        subj_[subj_id] = videos[video_id][subj_id]['z'].value_counts()
    video_stat[video_id] = subj_

In [9]:
# dynamicity score v2
video_score = {}
for video_id in video_list:
    subj_ = {}
    for subj_id in subject_list:
        subj_[subj_id] = np.std(video_stat[video_id][subj_id]) * (len(video_stat[video_id][subj_id])/16)
    video_score[video_id] = subj_

In [12]:
# Dynamicity score v1/v1 adjusted
video_ = {}
for video_id in video_list:
    subj_ = {}
    for subj_id in subject_list:
        G = all_videos[video_id][subj_id]
        subj_[subj_id] = G.number_of_edges() / G.number_of_nodes()
    video_[video_id] = subj_

In [14]:
pd.DataFrame.from_dict(video_).head(2) # dynamicity score v1

,A380.mp4,AcerPredator.mp4,AirShow.mp4,Antarctic.mp4,BFG.mp4,BlueWorld.mp4,BTSRun.mp4,CandyCarnival.mp4,CMLauncher.mp4,Cryogenian.mp4,...,StarWars.mp4,Supercar.mp4,SuperMario64.mp4,Surfing.mp4,Symphony.mp4,Terminator.mp4,VRBasketball.mp4,WaitingForLove.mp4,Waterskiing.mp4,WesternSichuan.mp4
Subject_1,2.583333,2.6,3.300000,3.250000,2.166667,3.090909,2.625,2.461538,3.090909,2.846154,...,2.000000,2.375000,2.500000,2.5,2.800000,2.714286,3.333333,2.700000,2.800000,3.000000
Subject_10,2.666667,2.6,3.111111,3.833333,2.636364,2.761905,2.750,2.812500,3.000000,2.800000,...,2.727273,2.727273,2.833333,2.5,2.818182,3.181818,2.875000,3.272727,2.846154,2.888889

In [15]:
pd.DataFrame.from_dict(video_score).head(2) # dynamicity score v2

,A380.mp4,AcerPredator.mp4,AirShow.mp4,Antarctic.mp4,BFG.mp4,BlueWorld.mp4,BTSRun.mp4,CandyCarnival.mp4,CMLauncher.mp4,Cryogenian.mp4,...,StarWars.mp4,Supercar.mp4,SuperMario64.mp4,Surfing.mp4,Symphony.mp4,Terminator.mp4,VRBasketball.mp4,WaitingForLove.mp4,Waterskiing.mp4,WesternSichuan.mp4
Subject_1,37.790748,52.436196,57.243347,22.805136,35.77878,20.805648,72.818589,49.205802,46.910653,19.920937,...,35.562500,31.893132,39.130940,51.739469,52.360268,54.505877,20.247010,58.807020,19.180068,38.746673
Subject_10,25.353131,92.639169,63.642925,9.880536,32.78755,35.640128,45.340336,34.532367,72.484373,26.428042,...,62.908912,34.978453,38.133196,45.397851,37.415947,68.190507,29.094673,40.906334,53.328141,35.624123