In [4]:
import numpy as np
import cv2
import pandas as pd
import PIL
import utm

In [5]:
video_name = 'Help'
data = pd.read_fwf('data/Subject_1/' + video_name + '.txt', header=None)

data.columns = ['latitude', 'longitude']

cap = cv2.VideoCapture('video_files/' + video_name + '.mp4')

length = int(cap.get(cv2.CAP_PROP_FRAME_COUNT))

ret, frame = cap.read()

calc_mod = length/len(data)

In [6]:
lst = []
for i in range(len(data)):
    u = utm.from_latlon(data.iloc[i].latitude, data.iloc[i].longitude)
    lst.append(u[2:])

In [8]:
xy = pd.DataFrame(lst)

In [10]:
coords = pd.concat([data, xy],axis=1)
coords.columns = ['latitude', 'longitude', 'zone', 'band']

In [11]:
coords.band = [ ord(x) - 64 for x in coords.band ]

In [12]:
coords

      latitude  longitude  zone  band
0    13.474903  18.634676    34    16
1    13.569384  18.680785    34    16
2    13.672114  18.687172    34    16
3    13.748986  18.684667    34    16
4    13.814718  18.690203    34    16
..         ...        ...   ...   ...
613  -0.426411 -67.713565    19    13
614  -0.725175 -67.861549    19    13
615  -0.856629 -67.687099    19    13
616  -0.879255 -67.239816    19    13
617  -0.784200 -66.666964    19    13

[618 rows x 4 columns]